// Utils
@use '../../styles/utils/' as u;

.host-game-page {
	font-size: 1.2rem;
	font-weight: 500;

	&__header {
		width: 100%;
		padding-top: 5rem;
		border-bottom: 1px solid #dbdbdb;

		@include u.desktop {
			padding-top: 3rem;
			border-bottom: none;
		}
	}

	&__logo {
		margin: 0 auto 2rem auto;

		@include u.desktop {
			display: none;
		}
	}

	&__main {
		position: relative;
		margin: 0 auto;
		max-width: 56rem;
		min-height: 75rem;
		height: calc(100vh - 200px);
		margin-top: 3.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__form {
		position: relative;

		@include u.desktop {
			padding-top: 3.7rem;
		}
	}

	&__desktop-container {
		display: none;

		@include u.desktop {
			position: relative;
			display: block;
		}

		&--nav {
			margin: 3.7rem 0;
			width: 100%;
		}
	}

	&__mobile-container {
		display: auto;

		&--long {
			width: 100%;
		}

		@include u.desktop {
			display: none;
		}
	}

	&__body {
		width: 100%;
	}

	&__nav-link {
		display: none;

		@include u.desktop {
			position: absolute;
			display: flex;
			align-items: center;
			gap: 6px;
			top: 32px;
			left: -85px;
			display: auto;
			cursor: pointer;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&__nav-text {
		font-size: 1rem;
		font-weight: 500;
		color: #6f7287;
	}

	&__progress-bar-container {
		height: 4px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.5rem;
	}

	&__progress-bar {
		height: 100%;
		width: 30%;
		background-color: #f7f7f7;

		&--selected {
			background-color: #bbbbbb;
		}
	}

	&__button-container {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 2.6rem;

		@include u.desktop {
			justify-content: flex-end;
			gap: 6rem;
			margin-top: 5rem;
		}
	}

	&__hero-image {
		// margin-bottom: 3.5rem;
		margin: 0 auto;

		&--serve {
			@include u.desktop {
				// width: 169px;
				// height: 205px;
				width: 300px;
			}
		}

		&--recieve {
			@include u.desktop {
				// width: 232px;
				// height: 193px;
				width: 350px;
			}
		}

		&--volley {
			@include u.desktop {
				// width: 157px;
				// height: 242px;
				width: 300px;
			}
		}
	}

	&__footer {
		padding-bottom: 13rem;

		@include u.desktop {
			padding-bottom: 0;
		}
	}

	&__divider {
		position: absolute;
		top: -20px;
		left: -100vw;
		width: 200vw;
		height: 1px;
		background-color: #dbdbdb;
		display: none;
		@include u.desktop {
			display: block;
		}
	}
}
