// Utils
@use '../../styles/utils/' as u;

.host-game-form {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	width: 100%;
	padding: 0 0.8rem;
	margin-bottom: 3.3rem;

	&__title {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2rem;
		margin: 0 0 0.4rem 0;
	}

	&__content {
		font-size: 1.2rem;
		font-weight: 500;
		color: #6f7287;
		margin: 0;
	}

	&__row {
		display: flex;
		gap: 2.3rem;
	}

	&__input-container {
		position: relative;
		border: 1px solid #dbdbdb;
		border-radius: 1rem;
		padding: 1.3rem;
		width: 100%;

		&--right {
			width: 65%;
		}

		&--search {
			padding-left: 3.4rem;
		}

		&--invalid {
			border-color: #f02849;
		}
	}

	&__icon {
		position: absolute;
		top: 1.2rem;

		&--right {
			right: 1rem;
		}

		&--left {
			left: 1rem;
		}
	}

	&__textarea {
		&--long {
			height: 11.8rem;
		}

		&--medium {
			height: 7.6rem;
		}
	}
}
