//Import utils
@use '../../styles/utils/' as u;

.header {
	display: flex;
	flex-direction: column;
	padding: 5rem 1.6rem 0 1.6rem;

	@include u.desktop {
		flex-direction: row;
		justify-content: space-between;
		margin: 4.2rem auto 2.5rem auto;
		padding: 0 6rem;
		max-width: 1600px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		width: 100%;
		margin-bottom: 1rem;

		@include u.desktop {
			width: auto;
		}
	}

	&__icon {
		&--logo {
			height: 3.84rem;
			width: 10.44rem;
		}

		&--search {
			position: absolute;
			width: 1.6rem;
			height: 1.6rem;
			left: 1.4rem;
			bottom: 1.6rem;
		}
	}

	&__logo-icon {
		height: 3.84rem;
		width: 10.44rem;
	}

	&__user-aside {
		width: 50%;
	}

	&__inputs-container-mobile {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5rem;

		@include u.tablet {
			justify-content: center;
			gap: 1rem;
			max-width: 75rem;
			margin: 0 auto 1.5rem auto;
			width: 100%;
		}

		@include u.desktop {
			display: none;
		}
	}

	&__inputs-container-desktop {
		display: none;

		@include u.desktop {
			position: relative;
			border-radius: 20px;
			display: flex;
			width: 70rem;
			height: 5.4rem;
			border: 1px solid #d9d9d9;
			margin-bottom: 1.2rem;
		}
	}

	&__input-container-desktop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 0.3rem;
		cursor: pointer;

		&--location {
			position: relative;
			padding-left: 2.3rem;
			width: 19rem;
			border-right: 1px solid #d9d9d9;
			// padding-right: 2.5rem;

			&:hover {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}

			&:hover * {
				background-color: #d9d9d9;
			}
		}

		&--date {
			width: 29rem;
			padding-left: 2.5rem;
			position: relative;
		}

		&--players {
			position: relative;
			width: 27rem;
			padding-left: 2.5rem;
			border-left: 1px solid #d9d9d9;

			&:hover {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}

		::placeholder {
			letter-spacing: 0.1rem;
			font-size: 1.4rem;
			color: #cacaca;
		}

		@include u.desktop {
		}

		&:hover {
			background-color: #d9d9d9;
		}
	}

	&__input-text-desktop {
		margin: 0;
		letter-spacing: 0.1rem;
		font-size: 1.4rem;
		color: #cacaca;
	}

	&__exit-icon {
		position: absolute;
		right: 15px;
		top: 17px;

		&--players {
			right: 115px;
			top: 20px;
		}
	}

	&__label {
		font-size: 1.2rem;
		color: black;
		letter-spacing: 0.1rem;
		font-weight: 500;
	}

	&__search-bar-mobile {
		display: flex;
		align-items: center;
		width: 85%;
		position: relative;
		border: 1px solid #d9d9d9;
		padding: 1.6rem 0 1.6rem 4.1rem;
		border-radius: 1px;
		border-radius: 15px;

		@include u.desktop {
			display: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #d9d9d9;
		}
	}

	&__search-bar-input {
		margin: 0;
		color: #747474;
		font-size: 1.3rem;
	}

	&__search-bar-divider {
		position: absolute;
		top: 0;
		height: 46px;
		width: 1px;
		background-color: #d9d9d9;

		&--left {
			left: 10.5rem;
		}

		&--right {
			left: 23rem;
		}
	}

	&__search-bar-icon {
		position: absolute;
		top: 0.8rem;
		right: 0.7rem;
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		background-color: #d9d9d9;
	}

	&__filter {
		height: 100%;
		padding: 1.3rem;
		border: 1px solid #d9d9d9;
		border-radius: 20px;

		@include u.desktop {
			display: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #d9d9d9;
		}
	}

	&__border {
		height: 1px;
		width: 100%;
		background-color: #dbdbdb;
	}

	&__host-game {
		display: flex;
		height: 4rem;
	}

	&__text {
		font-size: 1.4rem;
		font-weight: 500;
		color: #000000;
		letter-spacing: 0.03rem;
		margin: 0;
	}

	&__icon-backdrop {
		right: 0;
		position: absolute;
		width: 2.8rem;
		height: 2.8rem;
		background-color: #1f5389;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		right: 6px;
	}

	&__search-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 1rem;
		height: 3.6rem;
		width: 9rem;
		background-color: #ffc239;
		border-radius: 20px;
	}

	&__cta {
		color: white;
		font-size: 1.4rem;
		margin: 0;
	}

	&__host-game {
		display: none;

		@include u.desktop {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
	}

	&__profile {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 0.8rem;
		height: 4rem;
		width: 6.7rem;
		border: 1px solid #d9d9d9;
		border-radius: 20px;
	}

	&__profile-icon {
		height: 2.9rem;
		width: 2.9rem;
		border-radius: 50%;
		background-color: #d9d9d9;
	}

	&__add-players {
		margin-left: auto;
		height: 8rem;
		width: 32rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 3.2rem;
		border-radius: 15px;
		box-shadow: 0px 4.75px 19px 0px #0000000D;
	}

	&__text {
		font-size: 1.4rem;
		margin: 0;
		font-weight: 500;
		color: #1f5389;
	}

	&__desktop-container {
		display: none;

		@include u.desktop {
			display: block;
		}
	}
}
