//Imports
@use '../../styles/utils/' as u;

.footer {
	width: 100%;
	padding: 4.4rem 0rem;

	@include u.desktop {
		display: flex;
		justify-content: space-between;
	}

	&__divider {
		display: none;

		@include u.desktop {
			margin-top: 17rem;
			display: block;
			width: 100%;
			height: 1px;
			background-color: #dbdbdb;
		}
	}

	&__body {
		@include u.desktop {
			display: flex;
			gap: 7.4rem;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.7rem;

		@include u.desktop {
			gap: 7.4rem;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
	}

	&__header {
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 0.15rem;
		line-height: 1.45rem;
		color: #696969;
	}

	&__links {
		font-size: 1.2rem;
		font-weight: 400;
		letter-spacing: 0.15rem;
		line-height: 1.45rem;
		color: #696969;

		&--email {
			color: #696969;
		}
	}

	&__link-text {
		&:hover {
			border-bottom: 1px solid #696969;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3.2rem;
		background: #e3e3e3;

		@include u.desktop {
			display: none;
		}
	}

	&__top-cta {
		text-transform: uppercase;
		color: #ffffff;
		font-size: 1rem;
		letter-spacing: 0.15rem;
		font-weight: 600;

		&:hover {
			cursor: pointer;
			border-bottom: 1px solid #ffffff;
		}
	}

	&__bottom {
		height: 7.2rem;
		background: #d9d9d9;
		width: 100%;
	}
}
