// Imports
@use '../../styles/utils/' as u;

.home-page {
	&__sub-header {
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: 0.2rem;
		margin-bottom: 2rem;
	}

	&__events-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include u.desktop {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: auto;
		}
	}
}
